/*******************************************************************************
 * stumblr.layout.scss
 *
 * Styling of the "stumblr" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@import "susy";

// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Define Susy grid variables mobile first.
$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 5px;

$container-style: magic;
$container-width: 960px;

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
// $media-layout: <min-width> <layout> <max-width> <ie-fallback>;
// - You must supply either <min-width> or <layout>.

$default: $breakpoint-tablet-portrait 12; // At 600px use 12 columns.
$media-tablet-portrait: $breakpoint-mobile-landscape 2 $breakpoint-tablet-portrait; // Between 480px and 600px use 2 columns.
$media-mobile-landscape: $breakpoint-mobile-portrait 1 $breakpoint-mobile-landscape; // Between 320px and 480px use 1 column.
$media-mobile-portrait: 1 $breakpoint-mobile-portrait;// When less then 320px use 1 column.

#wrap {
  @include container; 
  #copyright {
    clear: both;
  }
}

@include at-breakpoint($default) {
  #wrap{
    @include set-container-width;

    #stumblr-sidebar {
      @include span-columns(3 omega);
    }

    #post-area {
      @include span-columns(9);
      .node {
        @include span-columns(9, 9);
      }
    }

    #footer-area {
      @include span-columns(12);

      .block--search-form {
        @include span-columns(4 omega, 6);
      }
    }
  }
}

@include at-breakpoint($media-tablet-portrait) {
  #wrap{
    @include set-container-width;

    #stumblr-sidebar {
      @include span-columns(2 omega);
      display: inline-flex;
      margin-top: 10px;

      .block {
        display: table-cell;
      }

      #block-block-2 {
        display: none;
      }
    }

    #post-area {
      @include span-columns(2);
      margin-top: 10px;

      .node {
        @include span-columns(2 omega, 2);
      }
    }

    #footer-area {
      @include span-columns(2);

      .block--block-3 {
        float: left;
      }

      .block--search-form {
        float: right;
      }
    }

    #copyright {
      clear: both;
    }
  }
}

@include at-breakpoint($media-mobile-landscape) {
  #wrap{
    @include set-container-width;

    #stumblr-sidebar {
      @include span-columns(1 omega);
      display: flex;
      margin-top: 10px;

      #block-block-2 {
        display: none;
      }
    }

    #post-area {
      @include span-columns(1);
      margin-top: 10px;

      .node {
        @include span-columns(1 omega);
      }
    }

    #footer-area {
      @include span-columns(2);

      .block--search-form {
        @include span-columns(2 omega, 2);
      }
    }

    #copyright {
      clear: both;
    }
  }
}

@include at-breakpoint($media-mobile-portrait) {
  #wrap{
    @include set-container-width;

    #stumblr-sidebar {
      @include span-columns(1 omega);
      margin-top: 10px;

      #block-block-2 {
        display: none;
      }

      .block {
        width: column(1, 1);
      }
    }

    #post-area {
      @include span-columns(1);
      margin-top: 10px;

      .node {
        @include span-columns(1 omega);
      }
    }

    #footer-area {
      @include span-columns(1);

      .block--search-form {
        @include span-columns(1 omega, 1);
      }
    }

    #copyright {
      clear: both;
    }
  }
}
