/* copyright styles */ 
#copyright {
  width: 100%;
  padding-top: 10px;
  margin-top: 20px;
  background: image-url('bg-row.png') top left repeat-x;
  margin-bottom: 20px;

  p {
    padding-top: 15px;
    color: #4f5356;
    font-size: 12px;
  }
}


