#footer-area {
  padding-top: 25px;
  margin-top: 20px;
  clear: both;
  background: image-url('bg-row.png') top left repeat-x;

  .footer-widget {
    width: 300px;
    margin-right: 20px;
    padding-top: 15px;
    font-size: 12px;
    color: #454545;
    line-height: 18px;

    ul {
      margin: 0px;
      padding: 0px;
      clear: both;
      margin-top: 7px;

      li {
        font-size: 13px;
        margin: 0px;
        padding: 0px;
        width: 300px;

        a {
          display: block;
          line-height: 22px;
          padding-bottom: 2px;
          padding-left: 2px;
          font-weight: 300;
          text-transform: none;
        }
      }
    }

    .textwidget {
      font-size: 12px;
      line-height: 19px;
      color: #333;
    }
  }




}
