/* pagination styles */ 

.pager {
  clear: both;
  padding: 20px 0;
  position: relative;
  font-size: 11px;
  line-height: 13px;

  .pager__item--current {
    display: block;
    float: left;
    margin: 4px 4px 4px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    width: auto;
    color: #666;
    background-color: #fff;
    border: 1px solid #b3b3b3;
    @include border-radius(3px);
    @include box-shadow(0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white);
    background-color: #fff;
  }

  a {
    display: block;
    float: left;
    margin: 4px 4px 4px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    width: auto;
    color: #666;
    background-color: #fff;
    border: 1px solid #b3b3b3;
    @include border-radius(3px);
    @include box-shadow(0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white);
    background-color: #e5e5e5;
  }

  a:hover {
    color: #FC9D5D;
    border: 1px solid #b3b3b3;
    @include border-radius(3px);
    @include box-shadow(0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white);
    box-shadow: 0 1px 1px rgba(255,255,255,0.78), inset 0 1px 0 white;
    background-color: #fff;
  }
}
