#post-area {
  margin-top: 80px;

  .links--inline {
    li {
      list-style: none;
    }

    ul, li{
      padding: 0;
      margin-bottom: 0;
    }
  }

  .node--stumblr-post, .search-result , #comment-reply {
    background: #FFF;
    margin-bottom: 20px;
    padding-bottom: 15px;
    @include border-bottom-right-radius(8px);
    @include border-bottom-left-radius(8px);
    @include box-shadow(0 1px 8px rgba(0,0,0,0.15));
  }

  #comment-reply {
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .type-page {
    width: 740px;
    background: #FFF;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }

  .type-attachment {
    width: 740px;
    background: #FFF;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }

  header, .search-result__title {
    background: #f1f1f1;
    height: 30px;
    padding-left: 20px;
    display: block;
  }

  .node__content {

    /* Featured media on the post */
    .field--type-file {
      margin-bottom: 10px;
    }

    .field--type-text-with-summary {
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  .stumblr-meta {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    border-top: 1px dotted #e2e2e2;

    p {
      padding: 0;
      margin: 0;
      line-height: 16px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .stumblr-date {
      font-style: italic;
      font-size: 11px;
      background: image-url('date.jpg') top left no-repeat;
      line-height: 16px;
      padding-left: 20px;
      margin-right: 20px;
    }

    .stumblr-category {
      font-style: italic;
      color: #929292;
      font-size: 11px;
      background: image-url('cat.jpg') top left no-repeat;
      line-height: 16px;
      padding-left: 20px;
      margin-right: 20px;
    }
  }

  .comment {
    padding: 10px;

    ol, li {
      list-style: none;
      margin: 0;
      padding: 5px;
    }
  }

  #comments, #user-login {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;

    .comment {
      border-top: 1px solid #8e8e8e;
    }

    .avatar {
      display: none;
    }

    .reply {
      display: none;
    }

    .comment-meta {
      display: none;
    }

    .comment-author {
      font-size: 16px;
      font-weight: bold;
      font-family: 'Droid Sans', sans-serif;
    }
  }

  form {
    width: 50%;

    input {
      clear: both;
      border: 1px solid #8e8e8e;
      margin-bottom: 5px;
      padding: 7px;
      font-family: Arial, Helvetica, sans-serif;
      color: #555;
      font-size: 12px;
      width: 100%;
    }
    .form-actions {
      input {
        margin-right: 10px;
        clear: both;
        width: 120px;
        height: 30px;
        line-height: 25px;
        background: #e5e5e5;
        border: 1px solid #8e8e8e;
      }
    }
  }
}
