.block--search {

  .form-text {
    border: 1px solid #8e8e8e;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-size: 12px;
    height: 32px;
    line-height: 22px;
    outline: none;
    width: 152px;
    padding: 5px;
    @include border-radius(3px);
  }

  .form-submit {
    width: 32px;
    height: 20px;
    line-height: 20px;
    background: image-url('search-light.png') top left  no-repeat;
    border: none;
    text-indent: -9999px;
    margin-left: 9px;
    margin-top: 5px;
  }

  .form-submit:hover {
    width: 20px;
    height: 20px;
    line-height: 22px;
    background: image-url('search-light.png') bottom left  no-repeat;
    border: none;
  }
}
