#stumblr-sidebar {
  margin-top: 80px;

  #logo {
    margin-bottom: 10px;
    overflow: hidden;
  }

  .block {
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
    background: image-url('bg-row.png') top left repeat-x;
    padding-top: 15px;

    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      width: 180px;
      clear: both;
      margin-top: 7px;

      li {
        float: left;
        display: block;
        font-size: 13px;
        margin: 0px;
        padding: 0px;
        width: 180px;

        a {
          display: block;
          line-height: 20px;
          font-size: 12px;
          padding-bottom: 2px;
          padding-left: 2px;
          font-weight: 300;
          text-transform: none;
        }
      }
    }

    .block__content {
      font-size: 12px;
      line-height: 19px;
      color: #333;
    }
  }
}
