/* link styles */	
a:link {
  color: #4e4e4e;
  text-decoration: none;
}

a:visited {
  color: #4e4e4e;
  text-decoration: none;
}

a:hover {
  color: #f15a29;
  text-decoration: none;
}

a:active {
  color: #4e4e4e;
  text-decoration: none;
}

a:focus {
  outline-style: none;
}  	
