/* font styles */	
h1 {
  font-size: 13px;
  line-height: 30px;
  color: #929292;
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 13px;
  line-height: 30px;
  color: #929292;
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-size: 13px;
  line-height: 22px;
  color: #929292;
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  text-transform: none;
}

h4 {
  font-size: 15px;
  line-height: 25px;
  color: #929292;
  padding: 0px;
  margin: 0px;
  font-weight: 400;
}

h5 {
  font-size: 13px;
  line-height: 22px;
  color: #929292;
  padding: 0px;
  margin: 0px;
  font-weight: 400;
}

h6 {
  font-size: 12px;
  line-height: 22px;
  color: #929292;
  padding: 0px;
  margin: 0px;
  font-weight: 400;
}

p {
  font-size: 12px;
  line-height: 21px;
  color: #929292;
  margin: 0px;
  padding: 0px;
  clear: both;
  padding-top: 10px;
  padding-bottom: 0px;
}

