@media all and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rhabbachi\/Desktop\/stumblrdrupal\/profiles\/stumblr\/themes\/custom\/stumblr\/sass\/stumblr\.hacks\.scss}line{font-family:\000033}}
  #toolbar, #admin-menu {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rhabbachi\/Desktop\/stumblrdrupal\/profiles\/stumblr\/themes\/custom\/stumblr\/sass\/stumblr\.hacks\.scss}line{font-family:\000038}}
  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important; } }
